@page "/fetchdata"
@inject HttpClient Http
@inject ActivePageService ActivePageService
@inject IToastService toastService
<PageTitle>Create Elements</PageTitle>
<h1>Menu for adding new elements</h1>
<p>Choose type for Add</p>
<style>
    .image-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 20px;
    }

        .image-container > div {
            text-align: center;
            margin-bottom: 30px; /* Увеличьте отступ между изображением и подписью */
        }

        .image-container img {
            width: 10vw;
            max-width: 75px;
            height: auto;
            cursor: pointer;
            border-bottom: none !important; /* Убираем нижнюю внешнюю границу с использованием !important */
        }

    .form-section {
        display: inline-block;
        flex-direction: row;
        margin-bottom: 10px; /* Добавление отступа снизу между секциями */
        vertical-align: top;
        margin-right: 10px;
    }

    .form-sectionScrolling {
        display: inline-block;
        flex-direction: row;
        margin-bottom: 10px; /* Добавление отступа снизу между секциями */
        vertical-align: top;
        margin-right: 10px;
        overflow: auto;
        max-height: 150px;
    }

    div {
        margin-bottom: 10px; /* Добавление отступа снизу каждого div */
    }

    label {
        display: block; /* Установка display: block делает label блочным элементом,
                                       что поможет контролировать расстояние между label и input */
        margin-bottom: 5px; /* Добавление отступа снизу каждого label */
    }

    input {
        margin-bottom: 10px; /* Добавление отступа снизу каждого input */
    }

    .on-loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0.5); /* Цвет фона с прозрачностью */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999; /* Устанавливаем z-index больше, чем у других элементов */
    }

    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000; /* Устанавливаем z-index больше, чем у .on-loading-overlay */
    }

</style>
<div class="image-container">
    <div>
        <img src="Icons/order-50.png" alt="Adding an order" @onclick="ShowOrderForm" />
        <p>Order</p>
    </div>
    <div>
        <img src="Icons/window.png" alt="Adding a window" @onclick="ShowWindowForm" />
        <p>Window</p>
    </div>
    <div>
        <img src="Icons/subelement-50.png" alt="Adding a SubElement" @onclick="ShowSubElementForm" />
        <p>SubElement</p>
    </div>
</div>
@if (showOrderForm)
{
    <h4>Form for adding an order</h4>
    <div class="form-section">
        <div>
            <label for="nameInput">Enter a name:</label>
            <input type="text" id="nameInput" @bind="NewOrder.Name" placeholder="Enter a name" />
        </div>
        <div>
            <label for="stateInput">Choose a state:</label>
            <input type="text" id="stateInput" @bind="NewOrder.State" list="stateAbbreviations" placeholder="Enter or select from the list" />
            <datalist id="stateAbbreviations">
                @foreach (var abbreviation in GetNorthAmericanStates())
                {
                    <option value="@abbreviation"></option>
                }
            </datalist>
        </div>
    </div>
    @if (NewOrder.Windows != null && NewOrder.Windows.Count != 0)
    {
        <div class="form-sectionScrolling" style="margin-left: 20px; border: 1px solid black;">
            <table class="table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Window name</th>
                        <th>Number of windows</th> <!-- Добавьте необходимые атрибуты -->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (window, index) in NewOrder.Windows.Select((w, i) => (w, i)))
                    {
                        <tr @onclick="() => HandleRowClick(window)"
                            style="@(IsRowSelected(window) ? "background-color: green; color: white; " : "")">
                            <td>@(index + 1)</td>
                            <td>@window.Name</td>
                            <td>@window.QuantityOfWindows</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    @if (NewOrder.Windows != null && NewWindow.SubElements != null)
    {
        <div class="form-sectionScrolling" style="margin-left: 30px; border: 1px solid black;">
            <table class="table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Type</th>
                        <th>Weigth</th> 
                        <th>Height</th> 
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (subElement, index) in NewWindow.SubElements.Select((w, i) => (w, i)))
                    {
                        <tr @onclick="() => HandleRowSubElementClick(subElement)"
                            style="@(IsRowSubElementSelected(subElement)? "background-color: green; color: white; " : "")">
                            <td>@(index + 1)</td>
                            <td>@subElement.Type</td>
                            <td>@subElement.Height</td>
                            <td>@subElement.Width</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    @if (NewOrder.Windows != null)
    {
        <div class="form-section">
            <div>
                <button @onclick="AddOrderInDB" style="margin-top: 30px;" class="btn btn-success btn-block">Создать заказ</button>
            </div>
        </div>
    }
    <div style="border: 2px solid #000; padding: 10px;">
        <div class="form-section">
            <label for="nameInput">Adding a window to an order</label>
            <EditForm Model="@NewWindow" OnValidSubmit="AddWindow">
                <DataAnnotationsValidator />
                <div>
                    <label>Title:</label>
                    <InputText @bind-Value="NewWindow.Name" />
                    <ValidationMessage For="@(() => NewWindow.Name)" />
                </div>
                <div>
                    <label>Number of windows:</label>
                    <InputNumber @bind-Value="NewWindow.QuantityOfWindows" />
                    <ValidationMessage For="@(() => NewWindow.QuantityOfWindows)" />
                </div>
                @if (NewOrder.Windows != null && NewWindow.SubElements != null)
                {
                    <label>Number of sub-elements at the window: @NewWindow.SubElements.Count</label>
                }
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-block">
                            @if (selectedWindow != null)
                            {
                                <span>Save</span>
                            }
                            else
                            {
                                <span>Add a window to your order</span>
                            }
                        </button>
                    </div>
                    @if (selectedWindow != null)
                    {
                        <div class="col">
                            <button @onclick="DeleteWindow" class="btn btn-danger btn-block">Delete</button>
                        </div>
                    }
                </div>
            </EditForm>
        </div>
        @if (NewOrder.Windows != null)
        {
            <div class="form-section" style="margin-left: 50px;">
                <label for="nameInput">Adding subelements to the window</label>
                <EditForm Model="@NewSubElement" OnValidSubmit="AddSubElement">
                    <DataAnnotationsValidator />
                    <div>
                        <label>Type:</label>
                        <InputText @bind-Value="NewSubElement.Type" />
                        <ValidationMessage For="@(() => NewSubElement.Type)" />
                    </div>
                    <div>
                        <label>Width:</label>
                        <InputNumber @bind-Value="NewSubElement.Width" />
                        <ValidationMessage For="@(() => NewSubElement.Width)" />
                    </div>
                    <div>
                        <label>Heigth:</label>
                        <InputNumber @bind-Value="NewSubElement.Height" />
                        <ValidationMessage For="@(() => NewSubElement.Height)" />
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary btn-block">
                                @if (selectedSubElement != null)
                                {
                                    <span>Save</span>
                                }
                                else
                                {
                                    <span>Add a sub-element to the window</span>
                                }
                            </button>
                        </div>
                        @if (selectedSubElement != null)
                        {
                            <div class="col">
                                <button @onclick="DeleteSubElement" class="btn btn-danger btn-block">Delete</button>
                            </div>
                        }
                    </div>
                </EditForm>
            </div>
        }
    </div>
}
@if (showWindowForm)
{
    if (ordersName != null)
    {
        <div class="form-container">
            <h4>Form for adding a window to an existing order</h4>
            <label for="stateInput">Select an order:</label>
            <input type="text" id="orderSearch" @bind="selectedOrderName" list="ordersNameArray" placeholder="Search for orders" />
            <datalist id="ordersNameArray">
                @foreach (var orderName in ordersName)
                {
                    <option value="@orderName"></option>
                }
            </datalist>
            <button @onclick="GetOneOrder" class="btn btn-primary" style="margin-right: 10px;">Receive the selected order</button>
            @if (NewWindow != null && selectedWindow != null)
            {
                <button @onclick="AddWindowInDB" class="btn btn-success" style="margin-right: 20px;">Create a window in the system</button>
            }
            @if (CurrentOrder != null && CurrentOrder.Id != 0 && CurrentOrder.Name != "")
            {
                @if (NewWindow.SubElements != null)
                {
                    <div class="form-sectionScrolling" style="margin-left: 30px; border: 1px solid black;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Type</th>
                                    <th>Height</th> 
                                    <th>Weidht</th> 
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var (subElement, index) in NewWindow.SubElements.Select((w, i) => (w, i)))
                                {
                                    <tr @onclick="() => HandleRowSubElementClick(subElement)"
                                        style="@(IsRowSubElementSelected(subElement)? "background-color: green; color: white; " : "")">
                                        <td>@(index + 1)</td>
                                        <td>@subElement.Type</td>
                                        <td>@subElement.Height</td>
                                        <td>@subElement.Width</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                <div style="border: 2px solid #000; padding: 10px;">
                    <div class="form-section">
                        <label for="nameInput">Adding a window to the order (sending to the server)</label>
                        <EditForm Model="@NewWindow" OnValidSubmit="AddWindow">
                            <DataAnnotationsValidator />
                            <div>
                                <label>Title:</label>
                                <InputText @bind-Value="NewWindow.Name" />
                                <ValidationMessage For="@(() => NewWindow.Name)" />
                            </div>
                            <div>
                                <label>Number of windows:</label>
                                <InputNumber @bind-Value="NewWindow.QuantityOfWindows" />
                                <ValidationMessage For="@(() => NewWindow.QuantityOfWindows)" />
                            </div>
                            @if (CurrentOrder.Windows != null && NewWindow.SubElements != null)
                            {
                                <label>Number of sub-elements at the window: @NewWindow.SubElements.Count</label>
                            }
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        <span>Add a window to your order</span>
                                    </button>
                                    <span>*Without sending it to the server</span>
                                </div>
                            </div>
                        </EditForm>
                    </div>
                    @if (NewWindow != null)
                    {
                        <div class="form-section" style="margin-left: 50px;">
                            <label for="nameInput">Adding subelements to the window</label>
                            <EditForm Model="@NewSubElement" OnValidSubmit="AddSubElement">
                                <DataAnnotationsValidator />
                                <div>
                                    <label>Type:</label>
                                    <InputText @bind-Value="NewSubElement.Type" />
                                    <ValidationMessage For="@(() => NewSubElement.Type)" />
                                </div>
                                <div>
                                    <label>Width:</label>
                                    <InputNumber @bind-Value="NewSubElement.Width" />
                                    <ValidationMessage For="@(() => NewSubElement.Width)" />
                                </div>
                                <div>
                                    <label>Heigth:</label>
                                    <InputNumber @bind-Value="NewSubElement.Height" />
                                    <ValidationMessage For="@(() => NewSubElement.Height)" />
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary btn-block">
                                            @if (selectedSubElement != null)
                                            {
                                                <span>Save</span>
                                            }
                                            else
                                            {
                                                <span>Add a sub-element to the window</span>
                                            }
                                        </button>
                                    </div>
                                    @if (selectedSubElement != null)
                                    {
                                        <div class="col">
                                            <button @onclick="DeleteSubElement" class="btn btn-danger btn-block">Delete</button>
                                        </div>
                                    }
                                </div>
                            </EditForm>
                        </div>
                    }
                </div>
            }
        </div>
    }
}
@if (showSubElementForm)
{
    if (ordersName != null)
    {
        <div class="form-container">
            <h4>Form for adding a sub-element to an existing window</h4>
            <label for="stateInput">Select an order:</label>
            <input type="text" id="orderSearch" @bind="selectedOrderName" list="ordersNameArray" placeholder="Search for orders" />
            <datalist id="ordersNameArray">
                @foreach (var orderName in ordersName)
                {
                    <option value="@orderName"></option>
                }
            </datalist>
            <button @onclick="GetOneOrder" class="btn btn-primary" style="margin-right: 10px;">Receive the selected order</button>
            @if (CurrentOrder != null && CurrentOrder.Windows != null)
            {
                <label for="stateInput">Select a window:</label>
                <input type="text" id="windowSearch" @bind="selectedWindowName" list="windowNameArray" placeholder="Window selection" />
                <datalist id="windowNameArray">
                    @foreach (var window in CurrentOrder.Windows)
                    {
                        <option value="@window.Name"></option>
                    }
                </datalist>
                @if (selectedWindowName != "")
                {
                    <div class="form-section" style="margin-left: 50px;">
                        <label for="nameInput">Adding subelements to the window</label>
                        <EditForm Model="@NewSubElement" OnValidSubmit="AddSubElementInDB">
                            <DataAnnotationsValidator />
                            <div>
                                <label>Type:</label>
                                <InputText @bind-Value="NewSubElement.Type" />
                                <ValidationMessage For="@(() => NewSubElement.Type)" />
                            </div>
                            <div>
                                <label>Width:</label>
                                <InputNumber @bind-Value="NewSubElement.Width" />
                                <ValidationMessage For="@(() => NewSubElement.Width)" />
                            </div>
                            <div>
                                <label>Heigth:</label>
                                <InputNumber @bind-Value="NewSubElement.Height" />
                                <ValidationMessage For="@(() => NewSubElement.Height)" />
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        <span>Add a sub-element to the window</span>

                                    </button>
                                    <span>*server sending</span>
                                </div>
                            </div>
                        </EditForm>
                    </div>
                }
            }
        </div>
    }
}
<BlazoredToasts />

@if (IsLoading)
{
    <div class="on-loading-overlay" id="app">
        <div class="loader">
            <img src="gifs/loader.gif" alt="Loading..." class="loader-image" />
        </div>
    </div>

}

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        ActivePageService.ActivePage = "fetchdata";
        StateHasChanged();
    }
    Order NewOrder = new Order();
    Window NewWindow = new Window();
    SubElement NewSubElement = new SubElement();
    private List<string> GetNorthAmericanStates()
    {
        return new List<string>
        {
            "AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA",
            "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD",
            "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ",
            "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC",
            "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"
        };
    }
    private bool IsLoading = false;
    private string btnVisibility = "block";
    private string divVisibility = "none";
    #region Window
    private bool showWindowSubMenu = false;
    private bool showWindowForm = false;
    private bool IsExistsWindows = false;
    private string selectedWindowName = "";
    /// <summary>
    /// method for locally adding a window to an order
    /// </summary>
    private async void ShowWindowForm()
    {
        showOrderForm = false;
        showWindowForm = true;
        showSubElementForm = false;
        IsLoading = true;
        ordersName = await Http.GetFromJsonAsync<string[]>("Order/GetOrdersName");
        IsLoading = false;
        StateHasChanged();
    }
    private async Task AddWindow()
    {
        if (selectedWindow != null)
        {
            NewWindow = new Window();
            NewWindow.Name = "";
            NewWindow.QuantityOfWindows = 0;
            selectedWindow = null;
            return;
        }
        if (NewOrder.Windows == null)
        {
            List<Window> listWindow = new List<Window>() { new Window() { Name = NewWindow.Name, QuantityOfWindows = NewWindow.QuantityOfWindows } };
            NewOrder.Windows = listWindow;
        }
        else
        {
            NewOrder.Windows.Add(new Window() { Name = NewWindow.Name, QuantityOfWindows = NewWindow.QuantityOfWindows });
        }
        if (CurrentOrder != null)
        {
            selectedWindow = NewWindow;
            toastService.ShowSuccess($"Окно создано в буфере");
            return;
        }
        NewWindow = new Window();
        NewWindow.Name = "";
        NewWindow.QuantityOfWindows = 0;
        StateHasChanged();
    }
    private void DeleteWindow()
    {
        if (NewOrder.Windows.Contains(NewWindow))
        {
            bool isGodd = NewOrder.Windows.Remove(NewWindow);
            toastService.ShowInfo($"Окно было удалено из заказа{selectedWindow.Name}");
            NewWindow = new Window();
            NewSubElement = new SubElement();
            selectedWindow = null;
            selectedSubElement = null;
            StateHasChanged();
        }
        else
        {
            toastService.ShowError($"Ошибка удаления");
        }
    }
    private void ToggleWindowSubMenu()
    {
        showWindowSubMenu = !showWindowSubMenu;
    }


    #endregion
    #region Order
    private Order CurrentOrder;
    private bool showOrderForm = false;
    private string[]? ordersName;
    private string selectedOrderName = "";

    private void ShowOrderForm()
    {
        showOrderForm = true;
        showWindowForm = false;
        showSubElementForm = false;
    }
    private async void GetOneOrder()
    {
        if (selectedOrderName != "")
        {
            IsLoading = true;
            CurrentOrder = new Order();
            NewWindow = new Window();
            NewSubElement = new SubElement();
            IsLoading = true;
            var orders = await Http.GetFromJsonAsync<Order[]>($"Order/GetOneOrder?nameOrder={selectedOrderName}");
            if (orders == null && orders.Length == 0)
            {
                toastService.ShowError($"Заказ не найден");

            }
            else
            {
                CurrentOrder = orders.First();

            }
            IsLoading = false;
            StateHasChanged();
        }
        else
            toastService.ShowInfo($"Не выбрано название заказа");
    }
    private async Task CreateOrder()
    {
        btnVisibility = (btnVisibility == "block") ? "none" : "block";
        divVisibility = (divVisibility == "none") ? "block" : "none";
    }

    #endregion
    #region SubElement
    private bool showSubElementForm = false;
    private bool IsExistsSubElement = false;
    private async void ShowSubElementForm()
    {
        showOrderForm = false;
        showWindowForm = false;
        showSubElementForm = true;
        IsLoading = true;
        ordersName = await Http.GetFromJsonAsync<string[]>("Order/GetOrdersName");
        IsLoading = false;
        StateHasChanged();
    }
    private void DeleteSubElement()
    {
        if (NewWindow.SubElements.Contains(NewSubElement))
        {
            bool isGodd = NewWindow.SubElements.Remove(NewSubElement);
            toastService.ShowInfo($"{selectedSubElement.Type} был удален из {NewWindow.Name}");
            NewSubElement = new SubElement();
            selectedSubElement = null;
            StateHasChanged();
        }
        else
        {
            toastService.ShowError($"Ошибка удаления");
        }
    }
    private async Task AddSubElement()
    {
        if (selectedWindow == null)
        {
            toastService.ShowError($"Необходимо выбрать окно в которое будем добавлять подэлемент");
            return;
        }
        if (selectedSubElement != null)
        {
            NewSubElement = new SubElement();
            NewSubElement.Type = "";
            NewSubElement.Width = 0;
            NewSubElement.Height = 0;
            selectedSubElement = null;
            return;
        }
        if (NewWindow.SubElements == null)
        {
            List<SubElement> listSubElements = new List<SubElement>() { new SubElement() { Type = NewSubElement.Type, Width = NewSubElement.Width, Height = NewSubElement.Height } };
            NewWindow.SubElements = listSubElements;
        }
        else
        {
            NewWindow.SubElements.Add(new SubElement() { Type = NewSubElement.Type, Width = NewSubElement.Width, Height = NewSubElement.Height });
        }
        if (CurrentOrder != null)
        {
            if (selectedWindowName != "")
            {
                toastService.ShowSuccess($"Под элемент создан в буфере");
                return;
            }
        }
        NewSubElement = new SubElement();
        NewSubElement.Type = "";
        NewSubElement.Width = 0;
        NewSubElement.Height = 0;
        StateHasChanged();
    }
    #endregion
    #region Tables
    Window selectedWindow;
    SubElement selectedSubElement;
    private void HandleRowClick(Window clickedWindow)
    {
        selectedWindow = clickedWindow;
        NewWindow = clickedWindow;
        StateHasChanged();
    }
    private void HandleRowSubElementClick(SubElement clickedSubElement)
    {
        NewSubElement = clickedSubElement;
        selectedSubElement = clickedSubElement;
        StateHasChanged();
    }
    private bool IsRowSelected(Window window)
    {
        return window == NewWindow;
    }
    private bool IsRowSubElementSelected(SubElement subElement)
    {
        return subElement == selectedSubElement;
    }
    #endregion
    #region AddElements
    private async Task AddOrderInDB()
    {
        IsLoading = true;
        HttpResponseMessage response = await Http.PostAsJsonAsync("Order/CreateOrder", NewOrder);
        IsLoading = false;
        if (response.IsSuccessStatusCode)
        {
            NewOrder = await response.Content.ReadFromJsonAsync<Order>();
            toastService.ShowSuccess($"Создали заказ {NewOrder.Name} с Id № {NewOrder.Id}");
            NewOrder = new Order();
            NewWindow = new Window();
            NewSubElement = new SubElement();
            selectedWindow = null;
            selectedSubElement = null;
        }
        else
        {
            if (response.StatusCode == HttpStatusCode.BadRequest)
            {
                var errorMessage = await response.Content.ReadAsStringAsync();
                if (!string.IsNullOrEmpty(errorMessage))
                {
                    toastService.ShowError($"Ошибка: {errorMessage}");
                }
                else
                {
                    toastService.ShowError($"Не удалось выполнить операцию. Пожалуйста, попробуйте еще раз.");
                }
            }
            else
                toastService.ShowError($"Ошибка: {response.StatusCode} - {response.ReasonPhrase}");
        }
    }
    private async Task AddWindowInDB()
    {
        NewWindow.OrderId = CurrentOrder.Id;
        IsLoading = true;
        HttpResponseMessage response = await Http.PostAsJsonAsync("Order/CreateWindow", NewWindow);
        IsLoading = false;
        if (response.IsSuccessStatusCode)
        {
            NewWindow = await response.Content.ReadFromJsonAsync<Window>();
            toastService.ShowSuccess($"Добавили окно {NewWindow.Name} с Id № {NewWindow.Id}");
            NewOrder = new Order();
            NewWindow = new Window();
            NewSubElement = new SubElement();
            CurrentOrder = null;
            selectedWindow = null;
            selectedSubElement = null;
        }
        else
        {
            if (response.StatusCode == HttpStatusCode.BadRequest)
            {
                var errorMessage = await response.Content.ReadAsStringAsync();
                if (!string.IsNullOrEmpty(errorMessage))
                {
                    toastService.ShowError($"Ошибка: {errorMessage}");
                }
                else
                {
                    toastService.ShowError($"Не удалось выполнить операцию. Пожалуйста, попробуйте еще раз.");
                }
            }
            else
                toastService.ShowError($"Ошибка: {response.StatusCode} - {response.ReasonPhrase}");
        }
    }
    private async Task AddSubElementInDB()
    {
        var a = CurrentOrder;
        var b = selectedWindowName;
        Window windows = CurrentOrder.Windows.FirstOrDefault(u => u.Name == selectedWindowName);
        if (windows != null)
        {
            NewSubElement.WindowId = windows.Id;
            IsLoading = true;
            HttpResponseMessage response = await Http.PostAsJsonAsync("Order/CreateSubElement", NewSubElement);
            IsLoading = false;
            if (response.IsSuccessStatusCode)
            {
                NewSubElement = await response.Content.ReadFromJsonAsync<SubElement>();
                toastService.ShowSuccess($"Добавили в окно {windows.Name} подэлемент {NewSubElement.Type} с Id № {NewSubElement.Id}");
                NewOrder = new Order();
                NewWindow = new Window();
                NewSubElement = new SubElement();
                CurrentOrder = null;
                selectedWindow = null;
                selectedSubElement = null;
            }
            else
            {
                if (response.StatusCode == HttpStatusCode.BadRequest)
                {
                    var errorMessage = await response.Content.ReadAsStringAsync();
                    if (!string.IsNullOrEmpty(errorMessage))
                    {
                        toastService.ShowError($"Ошибка: {errorMessage}");
                    }
                    else
                    {
                        toastService.ShowError($"Не удалось выполнить операцию. Пожалуйста, попробуйте еще раз.");
                    }
                }
                else
                    toastService.ShowError($"Ошибка: {response.StatusCode} - {response.ReasonPhrase}");
            }
        }
        else
        {
            toastService.ShowError($"Выбрано не корректное");
        }
    }
    #endregion
}
